{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

<ul class="terms-tags">
    {{- $type := .Type }}
    {{- range .Data.Terms.Alphabetical }}
        {{- $count := .Count }}
        {{- with site.GetPage (printf "/%s/%s" $type .Name) }}
    <li>
        <a href="{{ .RelPermalink }}">
            <span class="term-name">{{ .LinkTitle }}</span>
            <span class="term-count">{{ $count }}</span>
        </a>
    </li>
        {{- end }}
    {{- end }}
</ul>

{{- end }}
